# python stuff
__pycache__
.ipynb_checkpoints

# virtual environments
.venv
.venv.*
.venv-*

# env
.env
.env.*

# local stuff
_*
!__*__.py
!/virex_bench/types/_*
/checkpoints
*.local
/.plans
/.code-review
/results
/slides
/notebooks
/tmp/

# datasets
/data

# log files
*.log
*.logs

# cache
.pytest_cache
.ruff_cache

# shell scripts
s.sh

# other
*.bak
*.backup
/*.pdf
/*.json
!/pyrightconfig.json
/refs
