# python stuff
__pycache__
.ipynb_checkpoints

# virtual environments
.venv
.venv.*
.venv-*

# env
.env
.env.*

# unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.tmp/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# local stuff
_*
!__*__.py
!/virex_bench/types/_*
/checkpoints
*.local
# /.plans
/.code-review
/results
/slides
/notebooks
/tmp/
/report/
/.bashrc
/final_results/
/.analysis
/.plans
/*.tar.gz


# datasets
/data

# log files
*.log
*.logs

# cache
.pytest_cache
.ruff_cache

# shell scripts
s.sh

# other
*.bak
*.backup
/*.pdf
/*.json
!/pyrightconfig.json
/refs
